$primary: #001959;

$font-light: #fff;
$font-gray: #778;
$font-dark: #000;

$border-light: #fff;
$border-gray-light: #a7a7a7;
$border-gray: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #001959;
$background-dark-absolute: #bb0102;

$success: #69af00;
