.order {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 10px;
  background-color: $background-light;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);

  &.ui.grid {
    margin: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &__info {
    display: flex;

    &-data {
      display: flex;
      flex-direction: row;
      justify-content: flex;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20px;

        h2 {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
  }

  &__other {
    display: flex;
    align-items: center;
    padding-right: 10px;

    &-date {
      margin: 0 20px;
      width: 150px;
    }

    &-status {
      margin: 0 15px;

      .ui.tiny.button.acepted {
        background-color: #2185d0;
        width: 1.5rem;
        padding: 10px 5px;
      }
      .ui.tiny.button.process {
        background-color: #db2828;
        width: 1.5rem;
        padding: 10px 5px;
      }
    }

    i {
      padding-left: 20px;
      color: $primary;
    }
  }
}
